@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova');

.profile {
    height: 100%;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 40px;
    margin-left: 175px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(255, 170, 102, 1.00), #FEF2E7);
}

.profile-card {
    width: 300px;
    padding: 10px;
    margin: 25px;
    box-sizing: border-box;
    /* Ensure padding is included in the width */
    font-family: 'Proxima Nova';
    font-weight: 400;
    /* transition: transform 0.5s ease; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    background-color: aliceblue;

}

/* .profile-card:hover {
    transform: scale(0.93);
} */

.profile-card img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

.profile-name {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(20, 20, 20, 0.993);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.profile-des {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: grey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile-location {
    text-align: center;
}

.profile-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    padding-left: 50px;
    /* background: linear-gradient(to right, #F9E3D3, white); */
    background-color: #F9E3D3;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:left;
     
}

.profile-container h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: black;
}

.detail {
    margin-bottom: 15px;
}


span {
    color: black;
}

.edit-delete-buttons {
    padding: 10px;
    background-color: #FFA258;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-family: Proxima Nova;
    width: 40%;
    /* display: block; */
}

.edit-butt {
    display: flex;
    justify-content: center;
    margin-top: auto
}

.profile-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    min-height: 200px;
    /* Minimum height to avoid collapsing */
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Adjust the z-index as needed */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.profile-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    min-height: 200px;
    /* Minimum height to avoid collapsing */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    /* Enable vertical scrolling if needed */
}

.modal-inner {
    width: 100%;
    height: 100%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #333;
}

.profile-modal-content img {
    max-width: 100%;
    max-height: 200px;
    /* Adjust the maximum height for the image */
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-modal-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-modal-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.profile-modal-content .blog-location {
    font-size: 14px;
    color: #666;
}



/* Add more styles as needed */